body{
	background: rgba(241, 235, 212, 0.72);
}

.container{
	max-width: 800px;
    margin: auto;
}

@media screen and (min-width: 768px){
    .container .jumbotron {
        padding-right: 30px;
        padding-left: 30px;
    }
}

.blue_border{
	border: thin solid #7b7476;
}

/*used to put metro  bah*/
.content  .row {
    margin-right: 0;
    margin-left: 0;
}

.metro{
	min-height: 80px;
	min-width:80px;
    border: thin solid whitesmoke;
    
}

.metro p {
    font-size:12px;
}

.metro .logo {
    font-size: 4em;
    padding: 10%;
    opacity: 0.5;
	color: white;
}

.metro .stat{
    color: whitesmoke;
    font-size: 2em;
}

.metro .tagline{
	text-align: center;
	display: block;
	margin-left: 50%;
	margin-top: -8%;
	color:#f9f7f4c2;
	font-size: 1em;
}

/*Logo*/
.spin-logo{
	font-size: 30px;
    text-align: center;
    display: block;
    float: right;
    margin-right: 45%;

}

/*Background Colors*/
.red{
	background: #ff00005c;
}

.blue{
	background: #0000ff5e;
}

.green{
	background: #0080004a;
}

.black{
	background: #00000052;
}

.white {
    padding: 9.5px;
    margin: 0 0 10px;
    color: #333;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.navbar-brand{
	background:white;
	border: 0.01px whitesmoke solid;
	font-size: 13px;
	border-radius: 40px;
}

.navbar{
	background: whitesmoke;
	display: block
}